<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pruebaspool</servlet-name>
        <servlet-class>Controlador.pruebaspool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInfraccion</servlet-name>
        <servlet-class>Controlador.ControladorInfraccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPuesta</servlet-name>
        <servlet-class>Controlador.ControladorPuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVehiculo</servlet-name>
        <servlet-class>Controlador.ControladorVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pruebaspool</servlet-name>
        <url-pattern>/pruebaspool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInfraccion</servlet-name>
        <url-pattern>/ControladorInfraccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPuesta</servlet-name>
        <url-pattern>/ControladorPuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVehiculo</servlet-name>
        <url-pattern>/ControladorVehiculo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
